<div *ngIf="diseaseRecord">
  <h1>{{ diseaseRecord.Name }}</h1>
  <div>Disease ID: {{ diseaseRecord.DiseaseID__c }}</div>
  <br /><br />
  <div>Last Modified Date: {{ diseaseRecord.LastModifiedDate }}</div>
  <br /><br />
  <div>Synonyms List: {{ diseaseRecord.Synonyms_List__c }}</div>
  <br /><br />
  <div>Disease Type: {{ diseaseRecord.Disease_Type__c }}</div>
  <br /><br />
  <div>Curation List: {{ diseaseRecord.Curation_List__c }}</div>
  <br /><br />
  <div>Curation Notes: {{ diseaseRecord.Curation_Notes__c }}</div>
  <br /><br />
  <div>Curation Status: {{ diseaseRecord.Curation_Status__c }}</div>
  <br /><br />
  <div>Disease Categories: {{ diseaseRecord.Disease_Categories__c }}</div>
  <br /><br />
  <div>Disease Description: {{ diseaseRecord.Disease_Description__c }}</div>
  <br /><br />
  <div>
    Disease Description URL:
    <a href="{{ diseaseRecord.Description_URL__c }}" target="_blank">{{
      diseaseRecord.Description_URL__c
    }}</a>
  </div>
  <br /><br />
  <div>Gene Reviews: {{ diseaseRecord.Gene_Reviews__c }}</div>
  <br /><br />
  <div>Published to Website: {{ diseaseRecord.Published_to_Website__c }}</div>
  <br /><br />
  <div>Gard External ID: {{ diseaseRecord.Gard_External_ID__c }}</div>
  <br /><br />
</div>
